<div class="flex flex-col items-center content-center">
  <mat-card class="w-[95%] mt-5 flex !flex-row">
    <!-- Order section Left -->
    <div class="flex flex-col min-w-[350px] max-w-[350px]">
      <!-- order total and tax section -->
      <div class="card">
        <div style="padding-top: 16px">
          <!-- Tax -->
          <div class="row" style="padding-left: 12px; padding-right: 12px">
            <div class="col-md-6 pull-left" style="color: #777777">
              <b style="font-size: 20px; font-weight: 100">Tax 7%</b>
            </div>
            <div
              class="col-md-6"
              style="text-align: right; margin-bottom: 16px"
            >
              <span>
                <b style="font-size: 18px; font-weight: 100"
                  >฿{{ mTaxAmt | number : "1.2-2" }}
                </b>
              </span>
            </div>
          </div>

          <!-- Grand-total -->
          <div class="row" style="padding-left: 12px; padding-right: 12px">
            <div class="col-md-6 pull-left" style="color: #777777">
              <b style="font-size: 20px">Total</b>
            </div>
            <div
              class="col-md-6"
              style="text-align: right; margin-bottom: 16px"
            >
              <span>
                <b style="font-size: 27px; color: red"
                  >฿{{ mTotalPrice | number : "1.2-2" }}
                </b>
              </span>
            </div>
          </div>

          <button
            mat-raised-button
            (click)="onClickBtnPayment()"
            class="!bg-green-700 !text-white text-4xl w-full !p-10"
          >
            <strong>Payment</strong>
          </button>
        </div>
      </div>

      <!-- Waiting order image-->
      <div class="flex justify-center mt-20" *ngIf="mOrderArray.length == 0">
        <img
          [src]="rest.assets('images/waiting_for_sale.png')"
          style="height: 200px; width: 200px"
        />
      </div>

      <!-- order table -->
      <ul
        class="card"
        *ngIf="mOrderArray.length != 0"
        style="
          overflow: auto;
          overflow-x: hidden;
          cursor: pointer;
          margin: 0px !important;
          flex: 1;
        "
      >
        <div style="max-height: 100px">
          <div style="margin-top: 16px"></div>
          <li *ngFor="let item of mOrderArray">
            <table
              style="
                width: 100%;
                margin-left: 8px;
                padding-right: 2px;
                margin-right: 0px;
                border-right-style: solid;
              "
            >
              <tr>
                <td class="flex flex-row">
                  <!-- image -->
                  <img
                    src="{{ node_static_url }}/images/{{ item.image }}"
                    style="height: 80px; width: 80px; padding: 3px"
                  />

                  <!-- name -->
                  <!-- <div
                    class="flex-1 !text-ellipsis !line-clamp-2 !text-[12px] h-[50px] font-bold"
                  >
                    {{ item.name }}
                  </div> -->

                  <mat-card-title
                    class="flex-1 !text-ellipsis !line-clamp-2 !text-[14px] h-[60px] font-bold"
                  >
                    {{ item.name }}
                  </mat-card-title>

                  <!-- price -->
                  <mat-card-title
                    class="w-[60px] !text-ellipsis !line-clamp-1 !text-[14px] font-bold"
                  >
                    ฿{{ item.price | number : "1.2-2" }}
                  </mat-card-title>

                  <!-- remove button -->
                  <mat-icon
                    (click)="removeOrder(item)"
                    style="font-size: 25px; margin-right: 16px"
                  >
                    delete</mat-icon
                  >
                </td>
              </tr>
            </table>
          </li>
        </div>
      </ul>
    </div>

    <div class="w-10"></div>

    <!-- Product section Right -->
    <div
      *ngIf="mIsPaymentShown == false"
      class="grid gap-2 grid-cols-fluid w-full"
    >
      <div *ngFor="let item of mProductArray" (click)="pushNewOrder(item)">
        <mat-card class="h-[270px] !shadow-2xl">
          <mat-card-header>
            <mat-card-title
              class="!text-ellipsis !line-clamp-2 !text-[14px] h-[60px] font-bold"
              >{{ item.name }}</mat-card-title
            >
          </mat-card-header>
          <mat-card-content class="flex flex-col justify-between items-center">
            <img
              mat-card-image
              src="{{ node_static_url }}/images/{{ item.image }}"
              style="width: 160px; height: 160px"
            />
          </mat-card-content>
          <div
            [ngClass]="
              isSelectedItem(item) == true
                ? 'nprice_tag_selected'
                : 'nprice_tag'
            "
          >
            D{{ item.productId }} / ฿{{ item.price | number }}/{{ item.qty }}
            pcs.
          </div>
        </mat-card>
      </div>
    </div>

    <!-- Payment section -->
    <mat-card
      *ngIf="mIsPaymentShown == true"
      class="w-full flex items-center h-[80vh]"
    >
      <app-payment
        (onCompleted)="onPaymentCompleted('Payment successfully')"
        [productOrder]="jsonOrderArray"
        [totalNumber]="mTotalPrice"
      ></app-payment>
    </mat-card>
  </mat-card>
</div>
