.example-card {
  width: 90%;
  margin-top: 24px;
}

.mat-icon {
  font-size: 50px;
}

.mat-header-cell {
  font-size: 20px;
}

.highlight {
  background-color: greenyellow;
}

.table-hovor .mat-mdc-row:hover {
  background-color: rgba(172, 255, 47, 0.215);
}
